:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white/*(paragraphs)*/: hsla(0, 0%, 100%, 0.75);
    --very-light-gray/*(background, headings, buttons)*/: hsl(0, 0%, 95%);
  }
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  img{
    max-width: 20%;
  }
  .container{
    max-width: 500px;
    height: 400px;
    padding: 20px;
    margin: 4rem auto;;
    border-color: var(--very-light-gray);
    border: 1px solid;
    border-radius: 10px;
    background-color: grey;
    color: var(--very-light-gray);
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .img-sec{
    margin: 30px;
  }
  .successful{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bolder;
  }
  .login{
    margin: 70px;
    padding: 20px;
  }
  button > a {
    width: 250px;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    border: 1px none;
    color: green;
    background-color: var(--very-light-gray);
    font-size: 1em;
    font-weight: 900;
  }
  
